* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("index_background.png") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}


.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.game-covers {
    margin-top: 50px;
    position: relative;
    width:  1400px;
    height: 640px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.wrapper {
    display: flex;
    width: 650px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.game-covers {
    display: flex;
}

.game-cover-1 {
    display: flex;
    width: 450px;
    height: 600px;
    background: url("dsr_cover.jpg") no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    background-position: center;
}


.form-box {
    width: 1200px;
    padding: 40px;
}

.form-box h1 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.home-text {
    font-size: 1.2em;
    color: #fff;
}

.characteristics-list {
    margin-left: 40px;
    margin-top: 10px;
}